.navbar {
    width: 100%;
    height: 80px;
    padding: 36px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 0.4px solid rgb(182, 182, 182);
  }
  .navbar-btns {
    font-size: 10px !important;
    display: flex;
    flex-direction: row-reverse;
  
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .navbar-acc {
    font-size: 10px !important;
    display: flex;
    flex-direction: row-reverse;
  
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  /* connected account */
  .connected-ac {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
  }
  /* connected network */
  .network {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
  }
  